.bg-d-mono-auth {
  background: rgb(88, 68, 143);
  background: linear-gradient(0deg, rgba(88, 68, 143, 1) 10%, rgba(101, 74, 135, 1) 86%);
}

$color: linear-gradient(90deg, rgba(157,125,193,1) 0%, rgba(149,163,213,1) 51%, rgba(143,197,230,1) 100%);

.bg-d-footer-auth {
  background: rgba(97, 97, 97, .4);
}

.bg-d-fade-btn-purple {
  background: rgb(88,68,143);
  background: linear-gradient(79deg, rgba(88,68,143,1) 10%, rgba(101,74,135,1) 86%);
}

.d-toolbar-border-bt {
  border-bottom: 3px solid;
  border-image: $color 47% 0%;
}

.bg-d-subtoolbars {
  background-color: #F7F8FB;
}