.bg-d-mono-auth {
  background: rgb(88, 68, 143);
  background: linear-gradient(0deg, rgba(88, 68, 143, 1) 10%, rgba(101, 74, 135, 1) 86%);
}

.bg-d-footer-auth {
  background: rgba(97, 97, 97, .4);
}
